{% extends 'base.html' %}

{% block content %}
<section class="contacts-page">
    <div class="section-content">
        <h2>Контакты</h2>
        
        <div class="contact-info-block">
            <p><strong>Адрес:</strong> г. Чита, с. Смоленка, ул. Малиновая, д. 36Б</p>
            <p><strong>Телефон:</strong> +7 (994) 072-50-33</p>
            <p><strong>Email:</strong> info@favoritstroy.ru</p>
            <p><strong>Время работы:</strong> Пн-Пт: 9:00 - 18:00</p>
        </div>
        
        {# Можно добавить карту или форму обратной связи позже #}
        
    </div>
</section>
{% endblock %}
