{% extends 'base.html' %}

{% block content %}
<section class="contacts-page">
    <div class="section-content">
        <h2>Контакты</h2>
        
        <div class="contact-info-block">
            <p><strong>Адрес:</strong> г. Чита, с. Смоленка, ул. Малиновая, д. 36Б</p>
            <p><strong>Телефон:</strong> +7 (994) 072-50-33</p>
            <p><strong>Email:</strong> info@favoritstroy.ru</p>
            <p><strong>Время работы:</strong> Пн-Пт: 9:00 - 18:00</p>
        </div>

        <h2>Нас можно найти здесь</h2>

        <iframe
            id="map_803643575"
            frameborder="0"
            src="https://makemap.2gis.ru/widget?data=eJw1jsFuhDAMRP_FvUYrDElg8wGtettbpVZ7QMRtIwUcBa_ULeLfG2Drk-U3npkFOHvK5F-IR5IcaAb3sYDcE4GDZ-rllgkUpMyJsux8gYEj58KfqrrDz7pwCRK3j7J6mocckgSejsPv6-TpBxxW_7Mq-DoC75vdI-3CYZKiH7iUClMvexnE5mR0aytUpj6hrhuL12IQPLhza9argrFPF57DkbhA7AXcodVV21htarQK4kYfbng2ndEaLbalH_NYSFdMS3OO8e2bKL7vV8k3Wv8ABn5ZMA"
            sandbox="allow-modals allow-forms allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation"
        ></iframe>
        
    </div>
</section>
{% endblock %}
